@red: #DB2828;
@black: #000;
@grey: #444;

.wdic {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.wdic-header {
  flex: 0 0 90px;
  padding: 10px;
  background: @black;
  display: flex;
  h5 {
    color: #FFFFFF;
    margin: 0 0 10px;
  }
  .metric {
    text-align: center;
    flex: 1;
  }
}
.wdic-body {
  flex: 1;
  display: flex;
}
.wdic-sidebar {
  flex: 0 0 300px;
  padding: 20px;
  background: #FFF;
}
.wdic-details {
  flex: 0 0 300px;
  padding: 20px;
  background: #FFF;
  table {
    width: 100%;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    &:first-child { border-bottom: none; }
    th { background: @red; color: #FFF; }
    td:first-child { font-weight: bold; width: 80% }
    td:last-child { text-align: right; color: #666; width: 20% }
    td, th {
      font-size: .8em;
      border-left: 1px solid #CCC;
      border-top: 1px solid #CCC;
      padding: 5px;
    }
  }
}
.wdic-map {
  flex: 1;
  display: flex;
  iframe {
    flex: 1;
  }
}
.wdic-body {
  flex: 1;
  display: flex;
}
.wdic-footer {
  flex: 0 0 35px;
  background: @grey;
  padding: 10px;
  display: flex;
  color: #FFF;
  .segment {
    flex: 1;
    font-size: 0.8em;
    text-align: center;
  }
  .key {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #FFF;
    margin-right: 10px;
  }
}
